@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
.img-acercaDeNostros {
  background: url("../../assets/sobreNosotros.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20% 20%;
}
.color {
  color: #e5ba73;
}
