.Sidebar {
  background: #c68940;
  position: sticky;
  top: 0;
  overflow-y: auto;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .fila {
  width: 100%;
  height: 3em;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: larger;
}

.SidebarList .fila:hover,
.fila:active {
  cursor: pointer;
  background-color: #e5ba73;
}

.fila .icono {
  flex: 30%;
  display: grid;
  place-items: center;
}
.fila .titulos-sidebar {
  flex: 70%;
}

.SidebarList #active {
  background-color: #e5ba73;
  border-left: solid 0.5em #faeab1;
}

@media screen and (max-width: 768px) {
  .fila .titulos-sidebar {
    display: none;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .SidebarList .fila {
    flex-direction: column;
    padding: 2em 0em;    
  }
}
