
.estrella-testimonio {
    cursor: pointer;
    transition: color 200ms;
}

.radiobuton-formTestimonios{
    display: none;
}

.formulario-testimonios .form-control {
    border: 2px solid black;
    resize: none;
  }

  .formulario-testimonios button {
    background-color: #c58940 ;
    
  }
  .icono-formulario-testimonio{
    color: #c58940;
  }