/* inicio css de servicios en la pag rpñincipal */

.imagen-card-servicio{
  height: 15em;
  object-fit: cover;
}

.bg-container-servicios{
    background-color: rgb(250, 248, 241,0.50);
    }
.bg-card-servicio{    
    filter: opacity(0.90) grayscale(.2);
}

.description {
    max-height: 0; 
    overflow: hidden;
    transition: max-height 0.3s;     
  }
  /* Estilo para mostrar la descripción */
.description.active {
    max-height: 100px;        
  }

.bg-card-servicio:hover{
    background-color: #faeab1;
    cursor: pointer;
    transition: .3s;
    scale: 1.02;
    filter: opacity(1) grayscale(0);
  }
a{
  text-decoration: none;
}
  
/* fin */
@media all and (min-width: 1400px){
  .bg-card-servicio{
    position: absolute;    
  }
  .col-servicios{
    height: 21em;
  }
}
@media all and (min-width: 768px) and (max-width: 1399px){
  .bg-card-servicio{
    position: absolute;    
  }
  .col-servicios{
    height: 16em;
  }
}

