.bg-container-planes{
    background-color: #faf8f1;
}

.bg-card-planes{
    background-color: #faeab1;
}

.bg-boton-planes{
    background-color: #c58940;
    border-color: #c58940;
    height: 100%;
    text-align: center;
}

.bg-boton-planes:hover{
    background-color: #92652f;
    border-color: #92652f;
}