.img-altura{
    height: 400px;
}

@media all and (max-width: 576px){
    .img-altura{
        height: 150px;
    }
}
@media all and (max-width: 767px){
    .img-altura{
        height: 200px;
    }
}
@media all and (min-width: 992px){
    .img-altura{
        height: 480px;
    }
}