.layout {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.25fr 1fr;
  gap: 8px;
  height: 100%;

}


.sidebarButtons{
  display: flex;
  flex-direction: column;  
  gap: 8px;  
  
}

.sideBarButton{
  height: 100%;
}

.sidebarButtons button{  
  height: 4em;

}