#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: url("./assets/fondo-pagina.jpg") no-repeat;
  background-attachment: fixed;
}

.mainSection {
  flex-grow: 1;
}

.bg-footer {
  background-color: #c58940;
}

.btn-registro {
  background-color: #e5ba73;
  color: white;
  font-size: 18px;
  transition: all 0.3s;
  border: none;
}

.btn-registro:hover {
  background-color: #b5925b;
  color: white;
}

.inicia-sesion {
  color: #e5ba73;
}

.registro {
  color: #e5ba73;
}
.hoverEffect {
  transition: all 0.5s;
}

.hoverEffect:hover {
  color: #e5ba73 !important;
  text-shadow: black 1px 0px 5px !important;
  transition: all 0.5s;
  transform: scale(1.03);
}

.italic {
  font-family: italic;
}

.btn-dorado {
  background-color: #c58940 !important;
  color: white !important;
}

.imgBanner {
  background-image: url(../src/assets/Banner.png);
}
.react-multiple-carousel__arrow{
  background: rgba(206, 159, 3, 0.603) !important;
  }
  .border-card-testimonios{
    border: 1px solid rgba(206, 159, 3, 0.603) !important;
  }
@media all and (min-width: 768px) and (max-width: 991px) {
  .width-button-responsive {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .width-button-responsive {
    width: 100%;
  }

  .logo {
    height: 65px;
  }
}

.bg-navBar {
  background-color: #e5ba73;
}

.bg-navBar a {
  color: white;
}

.logo {
  height: 40;
  width: auto;
}

@media all and (max-width: 768px) {
  .logo {
    height: 65px;
  }
  .truncarTexto {
    max-width: 150px;
    max-height: 150px;
    overflow-x: auto;
  }

  /* Footer */
  .bg-footer {
    background-color: #c58940;
  }
}

.boton-verMas-producto {
  text-decoration: none;
  background-color: #e5ba73;
  padding: 10px 15px;
  width: 120px;
  color: black;
}
.boton-verMas-productoInicio {
  text-decoration: none;
  color: #c99e58;
  font-weight: bold;
  font-size: 18px;
}
.boton-verMas-producto:hover {
  background-color: #caa467;
  color: white;
}
.limite-texto {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
.texto-productos {
  color: #caa467;
}
.img-productos {
  object-fit: contain;
}

.text-area-turnos {
  resize: none;
}

.detalle-producto {
  font-size: 2rem;
}
