#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background: url("./assets/fondo-pagina.jpg") no-repeat;
  background-attachment: fixed;
}

.mainSection {
  flex-grow: 1;
}

.bg-navBar {
  background-color: #e5ba73;
}

.bg-navBar a {
  color: white;
}

@media all and (max-width: 768px) {
  .logo {
    height: 65px;
  }
}

.bg-footer{
  background-color: #C58940;
}

.boton-verMas-producto{
  background-color: #e5ba73;
  padding: 3px 15px;
  width: 150px;
}
.boton-verMas-producto:hover{
  background-color: #caa467;
  color: white;
}
.limite-texto {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}